.js-text-display {
    display: none;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.active {
    background-color: white;
}

.hidden {
    display: none;
}